﻿/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-caption {
    line-height: 31px;
    background-color: #fefefe;
    padding: 6px;
    border: solid #888;
    border-width: 0 0 1px 0;
    width: 100%; /* Could be more or less, depending on screen size */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content-box {
    padding: 20px;
}

/* The Close Button */
.modal-close {
    color: #aaa;
    float: right;
    font-size: 26px;
    line-height: 31px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-cancel { cursor: pointer; }
.modal-ok { cursor: pointer; }