﻿div.back-stage {
}

div.header {
    width: 100%;
    /*height: 80px;*/
    background-color: antiquewhite;
    margin-bottom: 4px;
    padding-left: 4px;
}

div.header > * {
    vertical-align: middle;
}

div.div-pane-item {
    display: inline-block;
}

div.div-player-turn {
    display: inline-block;
    /*background-color: white;*/
    margin-right: 10px;
}

div.div-player-items {
    display: inline-block;
    width: 180px;
}

div.div-player-items table img {
    width: 30px;
    height: 30px;
}

div.div-player-items table td {
    padding: 4px;
}

div.div-estimate-items {
    display: inline-block;
}

a.btn-selected {
    color: red !important;
    text-decoration: underline !important;
}

a.ref-btn {
    border: 1px solid burlywood;
    border-radius: 3px;
    background-color: bisque;
    padding: 4px;
    text-decoration: none;
    color: darkgoldenrod;
}

a.ref-btn:hover {
    background-color: burlywood;
    color: darkgoldenrod;
    text-decoration: none;
}

a.ref-btn-pale {
    border: 1px solid burlywood;
    border-radius: 3px;
    background-color: silver;
    padding: 4px;
    text-decoration: none;
    color: gray;
}

a.ref-btn-pale:hover {
    text-decoration: none;
    color: gray;
    cursor: default;
}

div.pane-hint {
    display: inline-block;
    vertical-align: top;
}

div.pane-hint table tr:nth-child(even) {
    background-color: antiquewhite
}

div.pane-hint table tr:first-child {
    background-color:bisque
}

div.rTable {
    display: table;
    background-image: url(../img/footprint_back.png);
    background-repeat: no-repeat;
    background-size: contain;
}

div.rTableRow {
    display: table-row;
}

div.rTableHeading {
    display: table-header-group;
}

div.rTableBody {
    display: table-row-group;
}

div.rTableFoot {
    display: table-footer-group;
}

div.rTableCell, .rTableHead {
    display: table-cell;
}

div.rTableCell {
    width: 92px;
    height: 120px;
    /*border: solid 1px black;*/
    position: relative;
}

div.cell-number {
    position: absolute;
    top: 0;
}

div.cell-player {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}

img.player-image {
    width: 45px;
    height: 75px;
}

table.input-grid td {
    padding: 7px;
}

.hase-effect-dlg {
    width: 390px;
    height: 160px;
}

.new-game-dlg {
    width: 390px;
    height: 230px;
}

.pointer {
    cursor: pointer;
}

div.cell-marked:hover {
    border: 2px solid black;
    cursor: pointer;
}

div.cell-marked-0:hover { border-color: #f200f2 }
div.cell-marked-1:hover { border-color: #6200f2 }
div.cell-marked-2:hover { border-color: #60ff30 }
div.cell-marked-3:hover { border-color: #e05000 }
div.cell-marked-4:hover { border-color: #e0e000 }
div.cell-marked-5:hover { border-color: #000000 }